.calendario {
  height: 100vh;

  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 8rem;
  padding-bottom: 55rem;
  font-family: var(--sen-bold);
}

.calendario-title {
  margin-bottom: 60px;
  text-align: center;
}

.actividades-title {
  margin-top: 50px;
  text-align: center;
}

.calendario-container {
  width: 90vw;
  font-size: 20px;
  font-family: var(--poppins-regular);

  background-color: white;
  border-radius: 20px;
  box-shadow: 12px 14px 41px #00000029;
}

.rbc-header {
  padding: 20px !important;
  background-color: var(--primary-color);
  opacity: 0.7;
  color: white;
}

.rbc-button-link {
  font-family: var(--poppins-regular);
}

.rbc-btn-group > button {
  font-family: var(--poppins-regular);
}
.rbc-toolbar-label {
  font-family: var(--poppins-regular);
  font-size: 20px;
  color: var(--black);
  font-weight: 800;
}

.rbc-event {
  padding: 12px !important;
  font-size: 15px;
  white-space: wrap;

  background-color: var(--blue-dark) !important;
  opacity: 0.8;
}

.rbc-today {
  background-color: var(--blue-light) !important;
  opacity: 0.2;
}

.grupo_btn_calendar {
  padding-top: 40px;
}

.btn_modals {
  color: var(--white) !important;
  background-color: var(--secondary-color);

  box-shadow: 0px 3px 6px #00000029;
  border-radius: 11px;
  opacity: 1;
  font-size: medium;
  width: 120px;
  height: 43px;
  margin-left: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cal__asset__modal {
  display: flex;
  flex-direction: column;
  min-height: 340px;
}

.calendario__form {
  width: 100%;
}

.cal__modal__title {
  font-family: var(--sen-bold);
  font-size: 20px;
  color: var(--black);

  text-align: start;
  margin-bottom: 30px;
}

.calendario__form > div {
  padding-bottom: 15px;
}
.cal__caso__button {
  cursor: pointer;
  color: var(--primary-color);
  font-family: var(--sen-bold);
}

.actividades-section-title {
  font-size: 20px;
  font-family: var(--sen-bold);
  color: var(--black);
  margin-bottom: 50px;
  margin-left: 20px;
}

.actividades-container-section {
  width: 1600px;
}

.container-carrousel {
  width: auto;
  width: 1600px;
  height: 550px;
  text-align: center;
  margin-left: 50px;
}

.card-container {
  width: auto;
  align-items: center;
}

.actividades-section-title {
  font-size: 25px;
  text-transform: capitalize;
  font-family: var(--sen-bold);
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: left;
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}

.asset__modal__title {
  font-size: 20px;
  font-family: var(--sen-bold);
  color: var(--black);
}
.add__asset__modal {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 300px);
  padding: 20px;
}

.asset__content {
  width: 90%;
  padding: 0 20px;
}

.asset__modal__subtitle {
  margin: 10px 0 30px;
  color: var(--gray);
  opacity: 0.6;
  font-weight: 500;
  font-size: 16px;
}

.actividad__card__content__title {
  color: var(--black);
  font-size: 20px;
  line-height: 29px;
  padding: 18px 0 5px 0;
  text-align: start;
  font-family: var(--sen-bold);
}

.container-carrouselact {
  width: auto;
  width: 1600px;
  height: 480px;
  margin-left: 120px;
}

.container-actividades {
  width: auto;
  background-color: var(--white);
}

.card-actividades {
  min-height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-actividades-container {
  transition: all 0.4s ease;
  width: 50px;
  height: 420px;
  cursor: pointer;
  justify-content: space-between;
  margin-left: 20px;
}

.card-actividades-container:hover {
  transform: scale(1.1, 1.1);
  transition: all 0.4s ease;
}

.actividad__card__content__button {
  text-align: left;
  padding: 15px 5px 0px 5px;
  width: 100%;
  font-family: var(--poppins-regular);
  font-weight: 500;
  font-size: 12px;
  color: rgb(157, 158, 158);
  border-top: 1px solid #edeff1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.actividad__socials > svg {
  margin: 0 0px 0px 15px;
}
.actividad__socials > svg:hover {
  color: #333;
}
