.carousel-home {
  background-color: var(--white);
  min-height: 100vh;
  font-family: var(--sen-bold);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* .carousel-home-item {
  width: 100%;
  min-height: 530px;
}
 */
.carousel-title {
  padding-top: 1rem;
  text-align: center;
  line-height: 2;
}

.carousel-card {
  height: 630px;
  width: 100%;
  cursor: pointer;
}

.carousel-card__img {
  height: 528px;
  width: 100%;

  object-fit: cover;
  position: relative;
}

.carousel-card img {
  border-radius: 50px;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.carousel-card__content {
  color: white;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 180px;
  border-radius: 0 0 50px 50px;

  background: inherit;
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);

  padding: 2rem;
}

.carousel-card_title {
  font-size: 1.3rem;
  font-family: var(--sen-bold);
}

.carousel-card_description {
  text-align: left;
  font: normal normal normal 15px/25px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.55;
}
