.casos {
  color: var(--black);
  font-family: var(--sen-bold);
  background-color: var(--white);
}

.casos-container {
  padding-top: 8rem;
  flex-direction: column;
}

@media screen and (max-width: 1310px) {
  .add__asset__modal {
    flex-wrap: wrap;
  }
  .asset__modal__integrantes {
    flex-wrap: wrap;
    width: 100%;
    margin-top: 2rem;
  }
}


.casos-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-between;

  width: 95vw;
  
  padding-left: 0px;
  margin-top: -50px;
}

.casos-section-title {
  font-size: 24px;
  text-transform: capitalize;
  font-family: var(--sen-bold);
  color: var(--black);
  margin-bottom: 50px;
}

.casos-section-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: auto;
  margin-bottom: 50px;
  
}

.casos__card__content__title {
  font-size: 24px;
  padding: 18px 0 12px 0;
  color: var(--black);
}

.casos__card__content__desc {
  font-size: 16px;
  padding: 22px 0 22px 0;
  text-align: left;
  font-family: var(--poppins-regular);
  color: var(--gray);
  line-height: 28px;
}

#hr__gray {
  border: 1px solid var(--gray);
  opacity: 0.2;
}

.casos__card__content__button {
  text-align: center;
  padding: 10px;
  font-size: 18px;
  color: var(--primary-color);
  width: 100%;

  cursor: pointer;
}

.asset__modal__title {
  font-size: 20px;
  font-family: var(--sen-bold);
  color: var(--black);
  margin-top: 20px;
  margin-bottom: 20px;
}
.add__asset__modal {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 300px);
  padding: 20px;
}

.asset__content {
  width: 90%;
  padding: 0 20px;
}

.asset__modal__subtitle {
  margin: 10px 0 30px;
  color: var(--gray);
  opacity: 0.6;
  font-weight: 500;
  font-size: 16px;
}

@media screen and (max-width: 1270px) {
  .casos-section-content {
    justify-content: space-around;
  }
  .asset__content {
    width: 100%;
    padding: 0 0px;
  }
  .add__asset__modal {
    padding: 0;
  }
}

.asset__modal__body {
  font-family: var(--poppins-regular);
  line-height: 30px;
  font-size: 15px;
}

.asset__modal__integrantes {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-left: 3px solid rgba(201, 215, 248, 0.5);
  padding: 0 0 0 30px;
  width: 900px;
}
#hr__green {
  border: 0.115rem solid var(--secondary-color);
  background-color: var(--secondary-color);

  width: 80px;
  margin: 10px 0 20px;
}

.integrantes__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 550px;
  justify-content: space-between;
}

.integrante {
  flex-direction: column;
  margin: 20px;
  text-align: center;

  width: 230px;
  height: 230px;
}

.integrante__img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.integrante__img > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.integrante__email {
  margin-top: 20px;
  font-size: 16px;
  margin-bottom: 10px;
  font-family: var(--poppins-regular);
  font-weight: 600;
  color: var(--primary-color);
}

.integrante__name {
  width: 200px;
}

.casos-admin-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  margin-top: -20px; /* para que no se superponga con el titulo */
  width: 100%;
}

.casos-admin-btns > div {
  margin: 0 20px;
}

.admin__asset__content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-top: 60px;
}

.admin__asset__modal__body {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.asset__m10 {
  margin-left: 30px;
}

.th__title {
  font-size: 18px;
  font-family: var(--sen-bold);
  color: var(--black);
  width: max-content;
  margin-top: 40px; /* Mala práctica */
}

.td__content {
  font-size: 16px;
  font-family: var(--poppins-regular);
  color: var(--gray);
  max-width: 400px;
}

.btn__editar,
.btn__eliminar {
  font-size: 16px;
  font-family: var(--sen-bold);
  margin-left: 10px;
  cursor: pointer;
}

.btn__editar {
  color: var(--primary-color);
  margin-right: 10px;
}

.btn__eliminar {
  color: var(--orange);
}

.font-sen {
  font-family: var(--sen-bold);
}

.tab__btns {
  width: 220px;
}

.add-blog {
  padding-right: 20px;
  color: var(--primary-color);
  cursor: pointer;
}

@media screen and (max-width: 1270px) {
  .casos-content {
    padding-left: 0;
  }
}

@media screen and (max-width: 640px) {
  .integrantes__list {
    width: 100%;
  }


  .slick-prev:before, .slick-next:before
  {
    display: none;
  }


  
}



/* Style Carousel buttons */
.slick-prev:before, .slick-next:before
{
  color: #cecece;


}