.contactanos {
  color: var(--black);
  font-family: var(--sen-bold);
  background-color: var(--white);
  height: 100vh;
}

.container_contactanos {
  padding-top: 8rem;
  flex-direction: column;
  text-align: center;
}

.form-contactanos {
  align-content: center;

  display: flex;
  flex-direction: column;
}
.form-input {
  display: flex;
  flex-direction: row;
}

.form-seccion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  width: 50%;
}
.form-seccion > div {
  width: 100%;
}

.form-seccion:last-child {
  margin-left: 20px;
  padding-top: 12px;
  font-family: var(--sen-bold) !important;
}

.contactanos-form {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  width: 50%;

  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 3px 3px 27px #00000029;
  border-radius: 15px;
  opacity: 1;
}

.text {
  margin-top: 15px;
  font-family: var(--sen-bold);
  font-size: 14px;
}

.text:not(:first-child) {
  margin-top: 40px;
}

.titulo_contactanos {
  font-size: 24px;
  text-transform: capitalize;
  margin-bottom: 80px;
}

.contactanos-textarea {
  font-family: var(--sen-bold) !important;
  font-size: 14px;
}

.btn_contacto {
  color: var(--white) !important;
  background-color: var(--secondary-color);
  font-family: var(--sen-bold);
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 11px;
  opacity: 1;

  width: 120px;
  height: 43px;
  margin-left: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.contactanos-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 3rem;
}

.contactanos-btns > div {
  cursor: pointer;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.contactanos-btns > div:hover {
  transition: all 0.3s ease-in-out;
  opacity: 0.8;
}

.btne {
  color: var(--primary-color);
}

.btnd {
  color: var(--orange);
}

@media screen and (max-width: 930px) {
  .contactanos-form {
    width: 90%;
    padding: 1.5rem;
  }
  .form-input {
    flex-direction: column;
  }
  .form-seccion {
    width: 100%;
  }
  .form-seccion:last-child {
    margin-left: 0px;
  }
  .form-postulate {
    width: 90%;
    padding: 1.5rem;
  }
  .postulate-grid {
    grid-template-columns: 1fr;
  }
}
