.contactanos{
    color: var(--black);
  font-family: var(--sen-bold);
  background-color: var(--white);
  padding-top: 10px;
}

.container_contactanos{
    padding-top: 150px;
    flex-direction: column;
    text-align: center;
}

.form_contactanos{
    align-content: center;
    width: 600px;
  }

.text {
    margin-top: 15px;
    font-family: var(--sen-bold);
    font-size: 14px;

}

.titulo_contactanos{
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 40px;
  width: 500px;
  }

.btn_contacto{
    color: var(--white) !important;
    background-color: var(--green-regular);
    font-family: var(--sen-bold);
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 11px;
    opacity: 1;
  
    width: 120px;
    height: 43px;
    margin-left: 20px;
  
    display: flex;
    justify-content: center;
    align-items: center;
}

  