.footer {
  height: 10rem;
  background-color: #292c34;

  font-family: var(--sen-bold);
  color: var(--white);
  margin-top: 80px;
  z-index: -1;

  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;

  padding: 2rem;
}

.footer > hr {
  border: 1px solid #464a53;
  opacity: 0.4;
  width: 100%;
}

.footer-content-left,
.footer-content-right > span {
  color: #ffffff;
  opacity: 0.44;
  font-size: 0.8rem;

  margin-right: 1rem;
}
.footer-content-right {
  display: flex;
  align-items: center;
}

.footer-content {
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.footer-content-right > a {
  margin-right: 1rem;
  opacity: 0.4;
}

.footer-content-right > a:hover {
  color: white;
  opacity: 1;
  box-shadow: 0px 0px 10px #ffffff29;
}
