.home {
  background-color: white;
  height: 100vh;
  display: flex;
  width: calc(100% - var(0));

  flex-direction: row;
  justify-content: center;
  padding-top: 6rem;

  flex-wrap: wrap;
  padding-left: 3rem;

  animation: emerge-down 1200ms ease-in-out forwards;
  z-index: -1 !important;
}
@keyframes emerge-down {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.span__green {
  color: var(--secondary-color) !important;
}

.home__title {
  font-size: 60px;
  color: white;
  font-family: var(--sen-bold);
  padding-top: 2rem;
  
}

.home__text {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  padding-left: 0px;
  width: 50%;
}

.home__btns {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home__btn__propuesta {
  background-color: var(--blue-dark);
  color: var(--white);
  box-shadow: 0px 3px 6px #00000029;

  border-radius: 11px;
  opacity: 1;

  padding: 10px 20px;
  margin-right: 20px;
  font-size: 18px;
  font-family: var(--sen-bold);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.home__btn__propuesta:hover {
  transition: all 0.3s ease-in-out;
  box-shadow: #00000029 10px 10px 12px;
}

@media screen and (max-width: 1430px) {
  .home {
    height: 100%;
    padding-left: 20px;
  }
}
.home__btn__blog {
  color: white;
  margin: 10px 5px;
  font-size: 18px;
  font-family: var(--sen-bold);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.home__btn__blog > svg {
  position: relative;
  top: 7px;
}

.home__btn__blog:hover {
  transition: all 0.3s ease-in-out;
  opacity: 0.8;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.home__subtitle {
  margin-top: 110px;

  font-size: 19px;
  font-style: italic;
  color: var(--blue-dark);
  font-weight: 900;
  font-family: var(--poppins-regular);
  line-height: 40px;
  word-spacing: 2px;

  opacity: 0.93;
  padding-right: 20%;
}

.home__img {
  height: auto;
  margin-top: 50px;
}
.home__img > img {
  height: 30rem;
}

.mobile-only {
  display: none;
}

@media screen and (max-width: 932px) {
  .home__text {
    font-size: 1.3rem;
    width: 100%;
  }
  .home__title{
    font-size: 45px;
  }
  .home__subtitle {
    width: 100%;
  }
  .home__img > img {
    height: 15rem;
  }
  .home__btn__blog {
    font-size: 1rem;
  }
  .home__btn__propuesta {
    font-size: 0.8rem;
    padding: 15px;
  }
  .home__btns {
    margin-top: 5rem !important;
  }
}
@media screen and (max-width: 1260px) {
  .home__btns {
    margin-top: 14px;
  }
}

.home__banner {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1 !important;
}

.carousel-card_description {
  margin-right: 2rem;
}
