*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.nav {
  height: 8vh;
  background-color: transparent !important;

  padding: 20px 0 70px 20px;
  font-family: var(--sen-bold);
  color: white;
  font-size: 1.1rem;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
  z-index: 5;
}
.nav__brand {
  text-transform: uppercase;
}
.nav__link {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 18px;
  position: relative;
  text-align: center;
  height: 100%;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav__toggler {
  display: none;
}
.nav__toggler div {
  width: 1.8rem;
  height: 0.2rem;
  margin: 0.4rem;
  transition: 0.3s ease-in;
  background-color: white;
  border-radius: 5px;
}

.navbar-btns {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn__contactanos {
  color: var(--secondary-color) !important;
}
.btn__postulate {
  color: var(--white) !important;
  background-color: var(--secondary-color);

  border-radius: 11px;
  opacity: 1;

  width: 120px;
  height: 43px;
  margin-left: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.dot {
  color: var(--secondary-color) !important;
}

.dot::after {
  position: absolute;
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 100%;
  left: 45%;
  top: 2rem;
  background-color: var(--secondary-color);
}

@media screen and (max-width: 930px) {
  .nav {
    background-color: #222222 !important;
    position: fixed;
    width: 100%;
  }
  .nav__toggler {
    display: block;
    cursor: pointer;
  }
  .nav__menu {
    position: fixed;
    top: 7vh;
    right: 0;
    height: 93vh;
    width: 100vw;
    background: rgb(34, 34, 34);
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }

  .nav__link {
    transition: 0.5s ease-in;
  }
  .nav__link:hover {
    transition: 0.5s ease-in;

    color: white;
  }
  .btn__postulate,
  .btn__postulatef {
    background-color: transparent;
  }
}
/* Active Class */
.nav__active {
  transform: translateX(0%);
}
/* Toggle Icon Animation */
.toggle .line1 {
  transform: rotate(-45deg) translate(-9px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-9px, -5px);
}
