.nuestro-equipo {
  min-height: 100vh;
  padding: 3rem 0 3rem;

  flex-direction: column;
  background-color: var(--white);
}

.nuestro-equipo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
  width: 70vw;
}

.nuestro-equipo-item {
  padding: 1rem;
  justify-content: flex-start;
}

.nuestro-equipo-item:nth-child(2) {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
}

.nuestro-equipo-item-img > img {
  border-radius: 50%;

  width: 230px;
  height: 230px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nuestro-equipo-item-name {
  font: normal normal 800 23px/28px Sen;
  letter-spacing: 0px;
  color: #212329;
  opacity: 1;
}
.nuestro-equipo-item-job {
  margin: 1rem 0 1rem;
  font: normal normal normal 19px/27px Poppins;
  color: var(--blue-dark);
  font-weight: 500;
  opacity: 1;
}
.nuestro-equipo-item-description {
  font: italic normal medium 15px/27px Poppins;
  letter-spacing: 0px;
  color: #a4adcb;
  opacity: 1;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 1rem;
}
.nuestro-equipo-item-container {
  margin: 0 1rem;
}

.nuestro-equipo-item-container > hr {
  border: 2px solid #a75bf2;
  opacity: 0.41;
  border-radius: 20px;
  background-color: #a75bf2;
}

@media screen and (max-width: 1270px) {
  .nuestro-equipo {
    flex-direction: column;
    height: 100%;
    padding-top: 5rem;
  }
  .nuestro-equipo-item-img > img {
    width: 150px;
    height: 150px;
  }
  .nuestro-equipo-container {
    align-items: center;
  }
}
