.table__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 220px);
  padding: 0 2rem;
  margin: 0 2rem;
  height: 100%;

  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 3px 3px 27px #00000029;
  border-radius: 15px;
  opacity: 1;
}
