.postulate {
  color: var(--black);
  font-family: var(--sen-bold);
  background-color: var(--white);
  padding-top: 8rem;

  height: 100%;
  padding-bottom: 4rem;
}

.container_postulate {
  flex-direction: column;
  height: 100%;
}
.form-postulate {
  height: 100%;

  display: flex;
  flex-direction: column;
  padding: 3rem;

  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 3px 3px 27px #00000029;
  border-radius: 15px;
  opacity: 1;
  width: calc(100% - 200px);
}

.text {
  margin-top: 25px;
  font-family: var(--sen-bold);
  font-size: 14px;
}

.titulo_postulate {
  font-size: 24px;
  text-transform: capitalize;
  font-family: var(--sen-bold);
  margin-bottom: 50px;

  width: 500px;
}

.btn__postulate {
  background-color: var(--secondary-color);
}
.btn__postulatef {
  background-color: var(--primary-color);
}

.btn__postulate,
.btn__postulatef {
  color: var(--white) !important;
  font-family: var(--sen-bold);
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;

  width: 120px;
  height: 43px;
  margin-left: 20px;
  transition: all 0.5s ease-in-out;
}

.btn__postulate:hover,
.btn__postulatef:hover {
  opacity: 1;
  transition: all 0.3s ease-in-out;
  box-shadow: #00000029 10px 10px 12px;
}

.postulate-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

.btn__descartar {
  color: var(--orange);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  margin-left: 40px;
}

.btn__descartar:hover {
  transition: all 0.5s ease-in-out;
  opacity: 0.7;
}
.postulate-grid-item {
  width: auto;
}
