.quienes-somos {
  min-height: 100vh;
  padding: 4rem;
  font-family: var(--sen-bold);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  font-size: 24px;
  text-transform: capitalize;
  font-family: var(--sen-bold);
  text-align: center;
  margin-bottom: 100px;
  text-align: center;
}

.quienes-somos-text-cnt {
  font-family: var(--poppins-regular);
  color: var(--gray);
  opacity: 0.9;
  width: 40%;
  line-height: 40px;
  font-size: 18px;

  padding-left: 60px;
}

.quienes-somos-text-title > h1 {
  font-size: 34px;
}
.quienes-somos-text-title {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
}
.quienes-somos-text-title > div > hr {
  width: 120px;
  border-radius: 5px;
  border: 2px solid var(--secondary-color);
  background-color: var(--secondary-color);
}
.b {
  font-weight: bolder;
}

.contactanos-casos {
  color: var(--black);
  font-family: var(--sen-bold);
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 1050px) {
  .quienes-somos-text-cnt {
    width: 100%;
    padding-left: 0;
    padding-top: 2rem;
  }

  .quienes-somos-text {
    flex-direction: column;
  }
  .tab__btns {
    flex-direction: column;
    width: 40px;
  }
  .root {
    width: fit-content;
  }
  .casos {
    width: 'fit-content';
  }
  .contactanos-casos {
    display: inline-block;
  }
}
